In [1]:
import pandas as pd

In [5]:
file_path = './data/home-data-for-ml-course/train.csv'
df = pd.read_csv(file_path)
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [11]:
y = df.SalePrice
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [17]:
features = ['LotArea', 'GarageArea', 'OverallQual', 'OverallCond']
x = df[features]
x.describe()

             LotArea   GarageArea  OverallQual  OverallCond
count    1460.000000  1460.000000  1460.000000  1460.000000
mean    10516.828082   472.980137     6.099315     5.575342
std      9981.264932   213.804841     1.382997     1.112799
min      1300.000000     0.000000     1.000000     1.000000
25%      7553.500000   334.500000     5.000000     5.000000
50%      9478.500000   480.000000     6.000000     5.000000
75%     11601.500000   576.000000     7.000000     6.000000
max    215245.000000  1418.000000    10.000000     9.000000

In [18]:
x.head()

   LotArea  GarageArea  OverallQual  OverallCond
0     8450         548            7            5
1     9600         460            6            8
2    11250         608            7            5
3     9550         642            7            5
4    14260         836            8            5

In [19]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
model = DecisionTreeRegressor(random_state=1)

model.fit(x, y)

DecisionTreeRegressor(random_state=1)

In [20]:
x.head()

   LotArea  GarageArea  OverallQual  OverallCond
0     8450         548            7            5
1     9600         460            6            8
2    11250         608            7            5
3     9550         642            7            5
4    14260         836            8            5

In [21]:
model.predict(x.head())

array([208500., 181500., 223500., 140000., 250000.])